
.ghostpage__all {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 3300px;
	margin-top:40px;
}

.ghost__text {
	display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.glitch {
	font: {
		size: 8.125em;
		family: 'Raleway', sans-serif;
		weight: 700;
		text-decoration: none;
	}
	text-decoration: none; /*vet ej varför detta inte funkar?*/
	text-transform: uppercase;
	position: absolute;
	color: #000;
	letter-spacing: 5px;
	
	&:before, &:after {
		display: block;
		content: attr(data-glitch);
		text-transform: uppercase;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: .8;
	} &:after {
		color: #f0f;
		z-index: -2;
	} &:before {
		color: #0ff;
		z-index: -1;
	}
	&:hover {
		&:before {
			animation: glitch .3s cubic-bezier(.25, .46, .45, .94) both 5
		}
		&:after {
			animation: glitch .3s cubic-bezier(.25, .46, .45, .94) reverse both 5
		}
	}
}

@media only screen and (max-width: 957px) {
	.glitch {
		font-size: 45px;
	}

	.ghost__text {
		align-self: center;
	}
}



@keyframes glitch {
	0% {
		transform: translate(0)
	}
	20% {
		transform: translate(-5px, 5px)
	}
	40% {
		transform: translate(-5px, -5px)
	}
	60% {
		transform: translate(5px, 5px)
	}
	80% {
		transform: translate(5px, -5px)
	}
	to {
		transform: translate(0)
	}
}


.ghost__video {
    display: flex;
    position: relative;
    justify-content: center;
	margin-top:40px;
	width: 100%;
	height: auto;
}

.ghost__img {
	max-width: 1400px;
	width: 100%;
	height: auto;
}


.glitch:hover {
	color:#000;
}