.all__loxell {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}


.video__lox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0px 40px 0px;
}