
/*navbar*/

h1, h2 {
  font-family: 'Fjalla One', sans-serif;
}

.d-flex {
  align-content: center;
  flex-direction: column;
}

.nav-link {
  color:white;
  text-decoration: none;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 2px;
}

.nav-link:hover {
  color:#39a0a0;
}

.dropdown-menu {
  background-color: 	#39a0a0;
  opacity: 0.8;
  cursor: pointer;
}

.dropdown-item {
  color:white;
  font-size: 18px;
}

  /* Change color of dropdown links on hover */
  .dropdown-menu a:hover {background-color:	#030505;
  color:white;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-menu {display: block;}
  

/* index - first page */

.redbull__background {
  background-image: url(../images/redbull__index1.jpg);
  width: 100%;
  height: 1000px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  overflow-x: hidden;
  background-attachment: fixed;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 900px;
  color: #fff;
}

.index__text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mybtn {
  width: 110px;
  height: 40px;
  background: none;
  border-style: solid;
  border-color: white;
}

.front__btn:hover {
  color:#fff;
  font-size: large;
}

.front__btn {
  text-decoration: none;
  color: white;
  font-family: 'Fjalla One', sans-serif;
}


@media screen and (min-width: 325px) and (max-width: 450px)  {

  .redbull__background{
    height: 700px;
  }
  .content {
    align-items: flex-end;
    height: 650px;
  }

  .index__text-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

/*small phones*/
@media screen and (min-width: 0px) and (max-width: 325px) {
  .redbull__background{
    height: 580px;
  }
  .content {
    align-items: flex-end;
    height: 500px;
  }

  .index__text-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

/* bigger phones*/
@media screen and (min-width: 330px) and (max-width: 376px) {
  .redbull__background {
    height: 812px;
  }
  
  .content{
    height: 700px;
  }
}

/*ipad*/
@media only screen and (max-width: 767px) {
  .redbull__background {
     background-image: url(../images/redbull.jpg);
     background-position: center;
     background-size: cover;
  }
  
}

/* Ipad*/
@media screen and (min-width: 768px) and (max-width: 1020px) {

  .redbull__background {
    height: 1000px;
  }
.index__text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}
}

/* Ipad pro*/
@media screen and (min-width: 1021px) and (max-width: 1200px) {
  .redbull__background {
    height: 1370px;
  }

  .content {
    align-items: flex-end;
    height: 800px;
  }
}
