.all__ref {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0px 40px 0px;
}

.video__ref-container {
    margin-bottom: 20px;
}

.ref__pic {
    width: 100%;
    height: auto;
 
}    