/* All content for retouch here - (om ej för mycket, gör likadant i 3D och samla?)*/


.all__maria-page, .all__granit-page, .all__mon-page, .all__sven-page  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Kolla upp vad alla vh/em vad allt nu är.. i px och kör på det. Samt alla sidor måste ha #HEX färg alt. bara färgnamn*/
.container1, .container2, .container3 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .container1 {
    margin-top: 30px;
    }


.text__photographer {
    display: flex;
    justify-content: center;
    max-width: 340px;
    width: 100%;
    height: 26px;
    background-color:#000;
    color:#39a0a0;
    opacity: 0.8;
    letter-spacing: 1px;
    margin-bottom:50px;
    margin-top:20px;
    border-radius: 5px;
}


.fa-camera-retro {
    margin-left:8px;
    color:	#39a0a0;
}

/*Granit pics*/ 

.granit__container2{
  display: flex;
}

.granit__box {
  display: flex;
  justify-content: center;
  margin: 40px 0px 40px 0px;
}

.granit__box2 {
  margin: 0px 5px 0px 5px;
}

/* Monsun pic*/

.mon__pic, .sven__pic {
    width: 100%;
    height: auto;
    margin-top:40px;
}

.text__owner {
    display: flex;
    justify-content: center;
    max-width: 320px;
    width: 100%;
    height: 26px;
    color:#000;
    letter-spacing: 1px;
    margin-bottom:50px;
    margin-top:20px;
    border-radius: 5px;
}

/* Amanda page and Lefvander */

.all__amanda-page, .all__lefvander-page {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.amanda__pic-container {
    /*display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;*/
    margin-top: 30px;
}

.amanda__pic, .lefvander__pic, .lefvander__pic1, .maria__pic, .maria__pic1 {
    max-width: 800px;
    width: 100%;
    height: auto;
}

.lefvander__pic1, .maria__pic {
  margin-right: 10px;
}

.text__granit {
  max-width: 320px;
  width: 100%;
  height: 26px;
  background-color: white;
  opacity: 0.6;
  letter-spacing: 1px;
  margin-bottom:50px;
  border-radius: 5px;
}



/* IPAD*/
@media screen and (min-width: 0px) and (max-width: 1505px) {


  .lefvander__pic, .lefvander__pic1, .maria__pic, .maria__pic1 {
      width: 40% ;
      align-content: center; 
  }


}


