.all__weeds {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 2600px;
}

.weeds__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#000;
    font-size: 20px;
}

.weeds__imagebox1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0px 40px 0px;
}

.weeds__imagebox2 {
    display: flex;
    justify-content: center;
}

.weeds__videobox {
    display: flex;
    flex-direction: column;
    margin:20px 0px 20px 0px;
}

.weed__img {
    max-width: 1200px;
    width: 100%;
    height: auto;  
}


@media screen and (min-width: 550px) and (max-width: 850px)  {

    .all__weeds {
        height: 1900px;
    }
    .weeds__videobox iframe{
        width: 550px;
        height: 350px;
    } 
}
    
@media screen and (min-width: 0px) and (max-width: 549px)  {

    .all__weeds {
        height: 1200px;
    }

    .weeds__videobox iframe {
        width: 300px;
        height: 200px;
        align-self: center;
    }

   
}


