.all__weeds {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.weeds__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#fff;
    font-size: 20px;
}

.weeds__imagebox1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0px 40px 0px;
}

.weeds__imagebox2 {
    display: flex;
    justify-content: center;
}

.weeds__videobox {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin:20px 0px 20px 0px;
}

.weed__img {
    max-width: 1200px;
    width: 100%;
    height: auto;  
}



    



