@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
}

body {
  max-width: 100%;
}

/*Font fams:
font-family: 'Cormorant Unicase', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/
.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: larger;
  letter-spacing: 2px;
}

.nav-link:hover {
  color: #39a0a0;
}

.dropdown-menu {
  background-color: #39a0a0;
  opacity: 0.8;
  cursor: pointer;
}

.dropdown-item {
  color: white;
}

/* Change color of dropdown links on hover */
.dropdown-menu a:hover {
  background-color: #030505;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

/*
  .body__front{
    background-image: url(../images/redbull__back.gif);
    width: 1800px;
    height: auto; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;


}*/
/* index - first page */
.all__landing {
  display: flex;
  justify-content: flex-end;
}

.front__video {
  position: fixed;
  background-size: cover;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/*
.all__landing {
  display: flex;
  justify-content: flex-end;
  height: 500px;
  align-items: flex-end;
  margin-right: 120px; 
}
*/
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 40%;
  padding: 20px;
  margin-right: 50px;
}

.mybtn {
  width: 110px;
  height: 40px;
  background: none;
  border-style: solid;
  border-color: white;
}

.front__btn:hover {
  color: red;
  font-size: large;
}

.front__btn {
  text-decoration: none;
  color: white;
}

body {
  background-color: #141414;
}

.all__wacom-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  height: 2200px;
  margin-top: 50px;
  text-align: center;
}

.wacom__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  max-width: 500px;
  width: 100%;
  height: 200px;
  color: white;
  font-weight: 600;
  font-size: 22px;
  margin-top: 40px;
  letter-spacing: 2px;
}

.vid-text__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.video__box {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
}

.wacom__video {
  max-width: 100%;
  height: auto;
}

.wacom__image {
  max-width: 1400px;
  width: 100%;
  height: 1000px;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .video__box {
    width: 90%;
  }
}
/* TEST FRÅN NÄTET MED PLAYBUTTON*/
* {
  font-family: "Bebas Neue", cursive;
}

h1 {
  font-weight: 700;
}

.all__redbull {
  margin: 20px 0px 20px 0px;
}

.only__text {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 820px;
  width: 100%;
}

.text__red {
  color: #fff;
  font-size: 25px;
}

.red__gif {
  max-width: 820px;
  width: 100%;
  height: auto;
}

.redbull1, .redbull2 {
  max-width: 820px;
  width: 100%;
  height: 500px;
}

.redbull3 {
  max-width: 1500px;
  width: 100%;
  height: auto;
}

.text-gif__container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.img__redbox1 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.img__redbox2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ghostpage__all {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  height: 3000px;
  align-content: center;
}

h2 {
  color: #fff;
}

.ghost__text {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.glitch {
  font-size: 8.125em;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-text-decoration: none;
  text-decoration: none;
  /*vet ej varför detta inte funkar?*/
  text-transform: uppercase;
  position: absolute;
  color: #fff;
  letter-spacing: 5px;
}
.glitch:before, .glitch:after {
  display: block;
  content: attr(data-glitch);
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}
.glitch:after {
  color: #f0f;
  z-index: -2;
}
.glitch:before {
  color: #0ff;
  z-index: -1;
}
.glitch:hover:before {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5;
}
.glitch:hover:after {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both 5;
}

@media only screen and (max-width: 400px) {
  .glitch {
    font-size: 48px;
  }
}
@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-5px, 5px);
  }
  40% {
    transform: translate(-5px, -5px);
  }
  60% {
    transform: translate(5px, 5px);
  }
  80% {
    transform: translate(5px, -5px);
  }
  to {
    transform: translate(0);
  }
}
.ghosthouse__video {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
}

.glitch:hover {
  color: #fff;
}

.all__storytel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0px 40px 0px;
}

.img__storytel-box {
  margin-bottom: 40px;
}

.all__weeds {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.weeds__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.weeds__imagebox1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0px 40px 0px;
}

.weeds__videobox {
  margin: 20px 0px 20px 0px;
}

.all__loxell {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.video__lox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0px 40px 0px;
}

.all__ref {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0px 40px 0px;
}

.video__ref-container {
  margin-bottom: 20px;
}

.all__about-page {
  height: 2200px;
}

.bg-image {
  /* The image used */
  background: url("../images/hahah.jpg") no-repeat center;
  /* Add the blur effect 
  filter: blur(6px);
  -webkit-filter: blur(6px);*/
  /* Full height */
  max-height: 700px;
  height: 100%;
  /* Center and scale the image nicely */
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #39a0a0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.images__about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.laugh {
  color: #39a0a0;
}

.felicia__box {
  display: flex;
  justify-content: space-around;
  height: 900px;
  margin-top: 20px;
  width: 1500px;
}

.felicia__text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: #fff;
  justify-content: center;
  height: 620px;
}

.rendering__box {
  display: flex;
  align-self: center;
  align-items: flex-end;
  justify-content: flex-end;
  width: 1800px;
  margin-right: 40px;
}

.rendering__text {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  /* align-content: flex-end; */
  align-items: center;
}

.list {
  color: #fff;
  font-size: 25px;
}

.contact__h1 {
  font-family: "Poppins", sans-serif, "arial";
  font-weight: 600;
  font-size: 72px;
  color: white;
  text-align: center;
}

.container__contact {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 100vh;
  flex-direction: column;
}

/* ///// inputs /////*/
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.75em;
  color: white;
  top: -5px;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .styled-input {
    width: 100%;
  }
}
.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide {
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

/*flytta knapp till mitten?*/
.submit-btn {
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #39a0a0;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  transition: all 300ms ease;
}

.submit-btn:hover {
  background-color: #317474;
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

@media (max-width: 768px) {
  .submit-btn {
    width: 100%;
    float: none;
    text-align: center;
  }
}
input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
}

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}

.contact__btn {
  text-decoration: none;
  color: white;
}

.contact__btn:hover {
  color: #cac6c6;
}

/*Thank you Jon Lehman on Freefronted*/
.footer {
  position: relative;
  margin: 0;
}

.all__footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  width: 100%;
  max-height: 100px;
}

/*
.footer__box1 {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}*/
.footer__box2 {
  max-width: 100%;
  display: flex;
  flex-direction: row;
}

.text__footer {
  letter-spacing: 1.6px;
  font-size: 16px;
  line-height: 26px;
  font-family: "Josefin Sans", sans-serif;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-facebook, .fa-instagram, .fa-linkedin, .fa-pinterest, .fa-youtube {
  color: white;
}

.fa-facebook:hover, .fa-instagram:hover, .fa-linkedin:hover, .fa-pinterest:hover, .fa-youtube:hover {
  color: #39a0a0;
  transition: all 0.3s ease 0s;
}

.logo {
  display: flex;
}

/* All content for retouch here - (om ej för mycket, gör likadant i 3D och samla?)*/
.all__maria-page, .all__granit-page, .all__mon-page, .all__lefvander-page, .all__sven-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Kolla upp vad alla vh/em vad allt nu är.. i px och kör på det. Samt alla sidor måste ha #HEX färg alt. bara färgnamn*/
.container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 1300px;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  line-height: 0;
  cursor: pointer;
}

.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover;
  transition: 0.5s;
}

.box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover {
  flex: 1 1 50%;
}

.box:hover > img {
  width: 100%;
  height: 100%;
}

.text__photographer {
  display: flex;
  justify-content: center;
  max-width: 340px;
  width: 100%;
  height: 26px;
  background-color: white;
  opacity: 0.6;
  letter-spacing: 1px;
  margin-bottom: 50px;
  margin-top: 20px;
  border-radius: 5px;
}

.fa-camera-retro {
  margin-left: 8px;
  color: #39a0a0;
}

/*Granit pics*/
.granit__container2 {
  display: flex;
}

.granit__box {
  display: flex;
  justify-content: center;
  margin: 40px 0px 40px 0px;
}

.granit__box2 {
  margin: 0px 5px 0px 5px;
}

/* Monsun pic*/
.mon__pic, .sven__pic {
  width: 100%;
  height: auto;
  margin-top: 40px;
}

.text__owner {
  display: flex;
  justify-content: center;
  max-width: 320px;
  width: 100%;
  height: 26px;
  color: white;
  opacity: 0.6;
  letter-spacing: 1px;
  margin-bottom: 50px;
  margin-top: 20px;
  border-radius: 5px;
}

/* Amanda page */
.all__amanda-page {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.amanda__pic-container {
  /*display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;*/
  margin-top: 30px;
}

.amanda__pic {
  max-width: 800px;
  width: 100%;
  height: auto;
}

.text__granit {
  max-width: 320px;
  width: 100%;
  height: 26px;
  background-color: white;
  opacity: 0.6;
  letter-spacing: 1px;
  margin-bottom: 50px;
  border-radius: 5px;
}