*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}


body {
    width: 100%;
    background-color: #fff;
}


/*Font fams:
font-family: 'Cormorant Unicase', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/

@import'main';
@import'wacom';
@import'redbull';
@import'ghost';
@import'storytel';
@import'weeds';
@import'loxell';
@import'ref';
@import'about';
@import'contact';
@import'footer';
@import'retouch';